:host {
  --inner-offset: min(8vw, 8vh);
  box-sizing: border-box;
}

.overlay {
  position: fixed;
  inset: 0;
  background: var(--loader-bg, rgba(0, 0, 0, 0.8));
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  /* border: solid 2px red; */
}

.hidden {
  display: none !important;
}

.loader-core {
  z-index: 10;
}
