:host {
  contain: content;
  display: none;
  --inner-offset: min(8vw, 8vh);
  box-sizing: border-box;
  position: fixed;
  inset: 0;
  z-index: 2147483647; /* 最大安全整数 */
}

:host([loading]) {
  display: block;
}

.overlay {
  width: 100%;
  height: 100%;
  background: var(--bg-color, black);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--fg-color, white);
}

.loader-core {
  z-index: 10;
}
