.edge {
  position: fixed;
  background: var(--loader-progress, #4ea1ff);
  opacity: 0.8;
}

.edge.top {
  top: 0;
  left: 0;
  height: 4px;
  width: calc(var(--progress) * 100%);
}
.edge.bottom {
  bottom: 0;
  left: 0;
  height: 4px;
  width: calc(var(--progress) * 100%);
}
.edge.left {
  left: 0;
  top: 0;
  width: 4px;
  height: calc(var(--progress) * 100%);
}
.edge.right {
  right: 0;
  top: 0;
  width: 4px;
  height: calc(var(--progress) * 100%);
}

.no-edges .edge {
  display: none;
}
