.overlay ::slotted(*) {
  position: absolute;
}

::slotted([slot='top-left']) {
  top: var(--inner-offset);
  left: var(--inner-offset);
}
::slotted([slot='top-right']) {
  top: var(--inner-offset);
  right: var(--inner-offset);
}
::slotted([slot='bottom-left']) {
  bottom: var(--inner-offset);
  left: var(--inner-offset);
}
::slotted([slot='bottom-right']) {
  bottom: var(--inner-offset);
  right: var(--inner-offset);
}

::slotted([slot='spotlight']) {
  left: 50%;
  top: 50%;
  transform: translate(-50%, 50%);
}
