::slotted([slot='top-left']) {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 100;
}
::slotted([slot='top-right']) {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 100;
}
::slotted([slot='bottom-left']) {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  z-index: 100;
}
::slotted([slot='bottom-right']) {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 100;
}
